/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f5f2;
    color: #332118;
    line-height: 1.6;
}

/* Navegación */
.navegacion {
    background-position: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.logo {
    font-weight: bold;
    letter-spacing: 2px;
}
.logo_link{
    text-decoration: none;
}

.logo_link{
    color: #332118;
}

.enlaces a {
    text-decoration: none;
    color: #332118;
    margin-left: 20px;
    font-size: 14px;
}

.portada {
    background-image: url("imagenes/image-ban.png");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.contenido-portada h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 10px 0 30px;
}

.boton {
    background-color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

/* Sección Intro */
.introduccion {
    padding: 100px 5%;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.introduccion h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estadísticas */
.estadisticas {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #332118;
}

.caja-estadistica, .caja-oscura {
    flex: 1;
    min-width: 250px;
    padding: 60px 40px;
    border-right: 1px solid #332118;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numero {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.caja-oscura {
    background-color: #332118;
    color: #f8f5f2;
    border-right: none;
}

.caja-oscura a {
    color: #f8f5f2;
    text-decoration: none;
    margin-top: 20px;
    font-size: 14px;
}